.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  margin: 20px;
}

.Logo-Uninorte {
  height: 13vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2286c3;
  min-height: 20vh;
  color: rgb(255, 255, 255);
}

.Titulo-Header{
  font-family: 'Casanova';
  font-size: 78px;
  text-align: left;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
