.App {
  text-align: center;
}

.App-logo {
  height: 13vmin;
  margin: 5px;
}

.Logo-Uninorte {
  height: 12vmin;
  margin: 5px;
  margin-right: 5px;
}

.App-header {
  background-color: #2286c3;
  min-height: 14vh;
  color: rgb(255, 255, 255);
}

.Body-color {
  background-color: #ededed;
  min-height: 80vh;
}

.App-link {
  color: #61dafb;
}
