.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  margin: 20px;
}

.Logo-Uninorte {
  height: 12vmin;
  margin: 27px;
}

.App-header {
  background-color: #2286c3;
  min-height: 20vh;
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}
